html, body { /* makes the mountain image work */
    z-index: 0;
    background-color: #47362F;
    color: #C29666;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior:smooth;

    /* Color palette https://coolors.co/c9a47c-c69d71-c29666-aa895d-796046-4f3931-47342d-533b32-583d33 */
}

a { text-decoration: none; color: #C29666; }
a:visited { text-decoration: none; color: #C29666; }
a:hover { text-decoration: none; color: #C29666; }
a:active { text-decoration: none; color: #C29666; }

nav {
    z-index: 99;
    overflow: hidden;
    position: fixed;
    top:auto;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px); 
}
nav a {
    align-items: center;
    text-align: center;
    float: left;
    display: block;
    padding: 14px 15px;

    color: #796046;
    font-weight: bold;
    font-size: 1em;
}
nav a:hover { background: rgba(0, 0, 0, 0.05); }
nav a:active { color: #AA895D }

ul {
    list-style-type: none;
    display:inline-block; 
    vertical-align:middle;
}

/* ================================================================= ================================================================= */
/* Index page */

.logo {
    z-index: 0;
    background-image: url("Media/Images/Header2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top 100%;
    background-attachment: fixed;
    height:100vh;
    margin: 0;
    padding: 0;
}

.mainButton {
    padding-top: 10%;
    height: auto;
    display: block;
    align-items: center;
    text-align: center;
}

a.Kuuke {
    font-size: 5em;
    font-weight: bold;
    font-variant: normal;
    color: #796046;
    z-index: 1;
    position: center;
    margin: auto;
    transition:all 1s ease-in-out;
}
a.Kuuke:hover { text-shadow: 5px 5px #4F3931; }
.mainButton h1 {margin: auto;}
.mainButton h2 {
    line-height: 12px;
    margin: auto;
    text-align: center;
    font-size: 3em;
}

/* ================================================================= ================================================================= */
/* About page */

.infoBlocks {
    color: #AA895D;
    margin: auto;
    font-size: 1.2em;
    background-color: #C29666;
    line-height: 2rem;
}

.container { padding: 4rem 0em;}
ul { margin:0; padding: 0;}
.container li {
    margin-left:0;
    padding-left: 5rem;
}
.container h2 {font-size:2rem; padding-left: 2em}


.infoBio { background-color: #4F3931; }
.infoInterests { background-color: #533B32; }
.infoSkills { background-color: #563C32; }
.infoSocials { background-color: #583D33; }

.socContent a { transition:all 0.5s ease-in-out; }
.socContent a:hover { color: #d3b28e; }

/* Since these both use icons to display text, I just grouped them, Makes my life easier. */
.icons {
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding-left: 0;
}
.icons span {font-size: 1.3rem;}
i { 
    font-size: 5rem; 
    padding-bottom: 3%;
}

@media only screen and (max-width: 650px) {
    /* For mobile phones: */
    .logo {
        font-size: 10px;
        padding-top: 100px;
    }
    .icons {
        padding: 0rem 0.5rem;
        font-size: 1.3rem;
    }
    i {
        font-size: 4rem;
    }
    .container h2 {
        padding-left: 2rem;
    }
    .container li {
        padding-left: 4rem;
        max-width:80%;
    }
}

/* ============================== ============================== */
/* Color codes and stuff :3 */
#emphasis {
    color:#ffcff0;
    font-weight: bold;
}